* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

/* HEADER */

#header {
    width: 100dvw;
    height: 80svh;
    background-color: black;
    display: flex;
    justify-content: center;
}
#header iframe {
    width: 90%;
}

/* CONTENT */

#content {
    font-size: 1.5rem;
    margin: 0 20%;
    margin-bottom: 100px;
}

#logo-container {
    width: 100%;
    max-height: 300px;
    display: flex;
    align-content: start;
}

#logo {
    width: 100%;
    object-fit: cover;
}

/* IMAGES */

#images {
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 100px 0;
    background-color: black;
}

#images-header {
    color: white;
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}

#images-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#licenses {
    color: rgb(179, 179, 179);
    margin: 100px 20%;
}
#license-hover {
    color: gray;
}
#license-hover:hover {
    color: lightgray;
    cursor: pointer;
}

#license-hover #licenses-tooltip {
    visibility: hidden;
    max-width: 400px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 0.8rem;
  
    /* Position the tooltip */
    position: absolute;
    transform: translate(0, -101%);
    z-index: 1;
    display: none;
  }
  
  #license-hover:hover #licenses-tooltip {
    visibility: visible;
    display: block;
  }

@media screen and (max-width: 1000px) {
    #content {
        margin: 0 10%;
        margin-bottom: 100px;
    }
    #images-container {
        flex-direction: column;
        align-content: center;
    }
}